*{
    font-family: playfair display;
}

body{
    font-family: "Playfair Display", serif;
}

.personalSection{
    display: flex;
    flex-direction: row;
    /* align-self: auto; */
}

.personalBlog{
    width: 40%;
    position: relative;
}

.AP{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

